@model AppointmentFormVM

@section Header {
    Appointment
}

@section loc {
    Create
}

<div class="col-md-12">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Create Appointment</h3>
        </div>
        <form asp-controller="Appointment" asp-action="Create" method="post">
            <div class="card-body">
                @* Validation Error Messages *@
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }

                @* Success Messages *@
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="OwnerId">Owner</label>
                    <select asp-for="OwnerId" class="form-control" asp-items="Model.Owner">
                        <option value="">Select an Owner</option>
                    </select>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="VeterinarianId">Veterinarian</label>
                    <select asp-for="VeterinarianId" class="form-control" asp-items="Model.Veterinarian">
                        <option value="">Select a Veterinarian</option>
                    </select>
                    <span asp-validation-for="VeterinarianId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="AnimalId">Animal</label>
                    <select asp-for="AnimalId" class="form-control" asp-items="Model.Animal">
                        <option value="">Select an Animal</option>
                    </select>
                    <span asp-validation-for="AnimalId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="FarmStaffId">Farm Staff</label>
                    <select asp-for="FarmStaffId" class="form-control" asp-items="Model.FarmStaff">
                        <option value="">Select an Farm Staff</option>
                    </select>
                    <span asp-validation-for="FarmStaffId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Status">Status</label>
                    <select asp-for="Status" class="form-control" asp-items="Model.StatusList">
                        <option value="">Select Status</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="AppointmentDate">Appointment Date</label>
                    <input asp-for="AppointmentDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                </div>
                <a asp-action="Index" class="btn btn-secondary btn-block">Cancel</a>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
